<h2>Bases d'angular : les bindings et les signals</h2>

<label>Composant affiché :</label>
<select [(ngModel)]="composantSelectionne">
    @for(composantItem of composants; track $index){
        <option>{{composantItem}}</option>
    }
</select>

@switch(composantSelectionne){
    @case("Calculatrice"){
        <app-calculatrice/>
    } 
    @case("Couleurs"){
        <app-couleurs/>
    }
    @case("TVA"){
        <app-tva/>
    }
    @case("Signals"){
        <app-signals/>
    }
    @case("ProduitsParent"){
        <app-produits-parent/>
    }
    @case("OutputVote"){
        <app-output-vote/>
    }
}




