<h3>EB10 - Combo total : panier filtrable</h3>

<div class="grille">

    @for (articleItem of articles ; track articleItem.id){
        <article class="carte">
            <h4>{{articleItem.nom}}</h4>
            
            @switch(articleItem.categorie){
                @case('fruit'){<span class="badge fruit">Fruit</span>}
                @case('legume'){<span class="badge legume">Légume</span>}
                @case('boisson'){<span class="badge boisson">Boisson</span>}
            }
            <p>Prix: {{articleItem.prix}}</p>
            
            @if(articleItem.stock > 0){
                <p>Stock: {{articleItem.stock}}</p>
            } @else {
                <p class="rupture">En rupture</p>
            }
            <button [disabled]="articleItem.stock === 0" (click)="acheter(articleItem.id)">Acheter</button>
        </article>
    }

</div>